<div class="content content-sign">
  <div class="container container-sign">
    <div class="row photo-row">

          <h2>Bonjour <%= @user.nickname %>!</h2>
          <%= cl_image_tag(@user.photo.key,  width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar-large") %>
          <h4>Votre profil: C'est ici que vous pouvez accéder à toutes les informations vous concernant. De plus, vous pouvez modifier votre profil.</h4>
    </div>
    <div class="row row-sign">
      <div class="col-md-6 order-md-2 col-sign d-flex align-items-center">
        <%= cl_image_tag("undraw_Preferences_hjz3i7", class: 'img-fluid') %>
      </div>
      <div class="col-md-6 contents col-sign">
        <div class="row justify-content-center">
          <div class="col-md-8 white-box margin-top-50">
            <div class="mb-4">
              <h2>Modifier mon profil</h2>

              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                  <%= f.input :email, required: true, autofocus: true, label: "Votre adresse email" %>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                  <% end %>

                  <%= f.input :password,
                              label: "Votre nouveau mot de passe",
                              hint: "Laissez ce champ vide pour le laisser inchangé",
                              required: false,
                              input_html: { autocomplete: "new-password" } %>
                  <%= f.input :password_confirmation,
                              required: false,
                              label: "Confirmation de votre nouveau mot de passe",
                              input_html: { autocomplete: "new-password" } %>
                  <%= f.input :current_password,
                              label: "Mot de passe actuel",
                              hint: "Nous avons besoin de votre mot de passe actuel pour valider ces modifications",
                              required: true,
                              input_html: { autocomplete: "current-password" } %>
                  <%= f.input :photo, as: :file,
                              label: "Modifier votre photo de profil" %>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, "Actualiser", class: "btn btn-primary btn-block" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 white-box margin-top-50">
        <div class="mb-4">
          <h3>Supprimer mon compte</h3>

          <p>Insatisfait? <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

          <%= link_to "Retour", :back %>
        </div>
      </div>
    </div>
  </div>
</div>
