
  <div class="card-header">
    <div class="d-flex bd-highlight">
      <div class="img_cont">
        <%= cl_image_tag(group.photo.key, width: 100, height: 100, class: "avatar-large") %>
        <span class="online_icon"></span>
      </div>
      <div class="group_info">
        <h2><%= group.name %></h2>
        <% group.users.each do |user| %>
          <span class="button-group-users"><%= user.nickname %></span>
        <% end %>
      </div>
    </div>
  </div>
    <div class="card-body msg_card_body">
      <div id="messages" data-group-id="<%= group.id %>">
        <% messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
  </div>
  <div class="card-footer">
    <%= simple_form_for [ group, message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Ecrivez votre message ici..." %>
      <%= f.button :submit, "Envoyer", class: "btn btn-primary btn-block" %>
    <% end %>
  </div>

