<% @current_user_ws = @current_user %>
<div class="card-header border-bottom">
  <div class="bd-highlight">
    <div class="img_cont">
      <% if group.group? %>
        <%= cl_image_tag(group.activity.photo.key, transformation: [{ quality: :auto, fetch_format: :auto, width: 150, height: 150, crop: :fill }], class: "avatar-large") %>
        <%= link_to "Voir l'activité", activity_path(@group.activity), class: "button-outline-green" %>
        <%= link_to "Quitter", group_membership_path(@group), method: "delete", class: "button-full-purple" %>
      <% else %>
        <%= cl_image_tag(group.memberships.where.not(user: current_user).first.user.photo.key, transformation: [{ quality: :auto, fetch_format: :auto, width: 150, height: 150, crop: :thumb, gravity: :face }], class: "avatar-large") %>
      <% end %>
      <span class="online_icon"></span>
    </div>
    <div class="group_info">
      <% if group.group? %>
        <h2><%= group.name %></h2>
      <% else %>
        <h2><%= group.memberships.where.not(user: current_user).first.user.nickname %></h2>
      <% end %>
      <% group.users.each do |user| %>
        <span class="button-group-users"><%= user.nickname %></span>
      <% end %>
    </div>
  </div>
</div>
  <div class="card-body" id="scroll-from-bottom">
    <div id="messages" data-group-id="<%= group.id %>">
      <% messages_per_date.each do |date, messages| %>
        <div class="text-center" style="position:-webkit-sticky;position:sticky;top:10px;">
          <% if date >= Date.yesterday %>
            <% date = date.today? ? "Aujourd'hui" : "Hier" %>
            <button class="button-outline-green w-25" style="max-width:250px;min-width: 200px"><%= date %></button>
          <% else %>
            <button class="button-outline-green w-25" style="max-width:250px;min-width: 200px"><%= l date, format: "%a %d %B" %></button>
          <% end %>
        </div>
        <% messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      <% end %>
  </div>
</div>
<div class="card-footer">
  <%= simple_form_for [group, message], remote: true do |f| %>
    <%= f.input :content, autofocus: true, label: false, placeholder: "#{@current_user.first_name}, écrivez votre message ici" %>
    <%= f.button :submit, "Envoyer", class: "btn btn-primary btn-block" %>
  <% end %>
</div>
