<div class="h-50 d-flex flex-column position-relative">
  <i class="fas fa-bars position-absolute text-medium text-color-primary" style="top:0;right:0;"></i>
  <h3>Amis</h3>
  <div class="scrollable flex-grow-1">
    <% if @friendship_groups_unread.empty? && @friendship_groups_read.empty? %>
      <p>Vous n'avez pas encore d'amis. Cliquez sur la loupe à gauche pour rechercher vos amis</p>
    <% else %>
      <ul>
        <% @friendship_groups_unread.each do |group| %>
          <%= render partial: "chat_menu_friendship", locals: { group: group } %>
        <% end %>
        <% @friendship_groups_read.each do |group| %>
          <%= render partial: "chat_menu_friendship", locals: { group: group } %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<div class="h-50 d-flex flex-column">
  <h3>Groupes</h3>
  <div class="scrollable flex-grow-1">
    <% if @activity_groups_unread.empty? && @activity_groups_read.empty? %>
      <p>Vous ne participez pas encore a des groupes de discussion</p>
      <%= link_to "Cliquez ici pour découvrir des activités et pouvoir participer aux groupes", categories_path %>
    <% else %>
      <ul>
        <% @activity_groups_unread.each do |group| %>
          <%= render partial: "chat_menu_group", locals: { group: group } %>
        <% end %>
        <% @activity_groups_read.each do |group| %>
          <%= render partial: "chat_menu_group", locals: { group: group } %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
