<li class="user-card">
  <div class="photo avatar-large">
    <%= cl_image_tag(activity.photo.key, transformation:[{quality: :auto, fetch_format: :auto, width: 150, height: 150, crop: :thumb, gravity: :face}], class: "avatar-large") %>
  </div>
  <div class="name text-medium d-flex align-items-center"><%= activity.name %></div>
  <%= link_to activity_path(activity) do %>
    <button class="btn button-outline-green mx-1">Voir détails</button>
  <% end %>
  <% if current_user == activity.user %>
    <%= link_to edit_activity_path(activity) do %>
      <button class="btn button-full-green mx-1">Modifier</button>
    <% end %>
    <%= link_to activity_path(activity), method: "delete", data: { confirm: "Êtes-vous sûr(e) ?" } do %>
      <button class="btn button-full-purple mx-1">Supprimer</button>
    <% end %>
  <% end %>
</li>
