<span class="anchor" id="event-<%= event.id %>"></span>
<li>
    <% bookingDB = event.bookings.find_by(user: current_user) %>
    <% booking_confirmed = !bookingDB.nil? && bookingDB.confirmed? || event.activity.user == current_user ? "active" : "" %>
    <% booking = bookingDB unless bookingDB.nil? %>

    <div class="d-flex">
    
        <div class="flex-grow-1">
            <%= form_for booking, remote: true do |f| %>
                <% if booking.user.nil? %>
                    <%= f.hidden_field :booking, value: booking.id %>
                <% end %>
                <%= f.hidden_field :event, value: event.id %>
                <%= button_tag(type: 'submit', class: "text-center button-outline-green w-100 #{booking_confirmed}") do %>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-left">
                            <% unless booking_confirmed.blank? %>
                                <span class="badge badge-light" style="color:#00796B; background-color:#E0F2F1;">Inscrit</span>
                            <% end %>
                            <% if event.end_time.day == event.start_time.day %>
                                <% duration = event.end_time - event.start_time %>
                                <span class="badge badge-light" style="color:#00796B; background-color:#E0F2F1;">Durée : <%= Time.at(duration).strftime("%Hh%M") %></span>
                                <div>
                                    <span class="text-bold"><%= event.start_time.strftime("Date : %d.%m.%Y") %></span>
                                </div>
                                <div>
                                    <span class="text-bold"><%= event.start_time.strftime("Horaire : %Hh%M ") %></span>
                                    <span class="text-bold"><%= event.end_time.strftime("à %Hh%M") %></span>
                                </div>
                            <% else %>
                                <span class="badge badge-primary">Plusieurs jours</span>
                                <div>
                                    <span class="text-bold"><%= event.start_time.strftime("Du %d.%m.%Y à %Hh%M") %></span>
                                </div>
                                <div>
                                    <span class="text-bold"><%= event.end_time.strftime("Au %d.%m.%Y à %Hh%M") %></span>
                                </div>
                            <% end %>
                        </div>
                        <span><i class="far fa-calendar-check"></i></span>
                    </div>
                <% end %>
            <% end %>
        </div>


        <button class="ml-2 d-flex justify-content-center align-items-center button-outline-green" type="button" data-toggle="collapse" data-target="#participant-event-<%= event.id %>" aria-expanded="false" aria-controls="participant-event-<%= event.id %>">
            <i class="fas fa-users text-medium"></i>
        </button>

    </div>
</li>

<div class="collapse" id="participant-event-<%= event.id %>">
    <div class="card card-body mb-4">
        <h4>Participants</h4>
        <ul>
            <%= render partial: "shared/user_card_with_icon", locals: { user: event.activity.user } %>
            <% if event.bookings.all_confirmed.empty? %>
                <p>Il n'y a pas encore de participants</p>
            <% else %>
                <% event.bookings.all_confirmed.each do |booking| %>
                        <% unless booking.user == event.activity.user %>
                            <%= render partial: "shared/user_card_with_icon", locals: { user: booking.user } %>
                        <% end %>
                <% end %>
            <% end %>
        </ul>
        <h4 class="mt-4">Annulés</h4>
        <ul>
            <% if event.bookings.all_canceled.empty? %>
                <p>Personne n'a annulé leur réservation</p>
            <% else %>
                <% event.bookings.all_canceled.each do |booking| %>
                    <% unless booking.user == event.activity.user %>
                        <%= render partial: "shared/user_card_with_icon", locals: { user: booking.user } %>
                    <% end %>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>

