<div class="navbar-left">
  <div class="nav-links">
    <ul>
      <li class="nav-item">
        <div class="nav-link side-button" id="profile-button">
          <i class="fas fa-user-circle"></i>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link side-button" id="social-button">
          <i class="fas fa-users"></i>
        </div>
      </li>
      <li class="nav-item-main">
        <div class="nav-link search" id="search-button">
          <i class="fas fa-search"></i>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link side-button" id="activities-button">
          <i class="fas fa-hiking"></i>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link side-button" id="chat-button">
          <i class="fas fa-envelope"></i>
          <!--
            if is active
            <i class="fas fa-envelope-open-text"></i>
          -->
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="navbar-menu text-center" id="profile-menu">
  <div class="wrapper">
    <i class="close-button far fa-times-circle"></i>
    <div class="inside-menu">
      <div class="title">
        <h2>Mon profil</h2>
      </div>
      <% if user_signed_in? %>
        <ul class="nav-links" >
          <li><%= link_to "Mon profil", "#", :class => "link-green" %></li>
          <li><%= link_to "Mes activités", "#", :class => "link-green" %></li>
          <li><%= link_to "Modifier mon profil", edit_user_registration_path, :class => "link-green" %></li>
          <li><%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, :class => "link-green" %></li>
          </ul>
       <% else %>
        <ul class="nav-links">
          <li><%= link_to "Se connecter", "/users/sign_in", :class => "link-green" %></li>
          <li><%= link_to "S'inscrire", "/users/sign_up", :class => "link-green" %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="navbar-menu text-center" id="social-menu">
  <div class="wrapper">
    <i class="close-button far fa-times-circle"></i>
    <div class="inside-menu">
      <div class="title">
        <h2>Social</h2>
      </div>
      <ul class="nav-links">
        <li>link1</li>
        <li>link1</li>
        <li>link1</li>
        <li>link1</li>
        <li>link1</li>
      </ul>
    </div>
  </div>
</div>

<div class="navbar-menu text-center" id="search-menu">
  <div class="inside-menu">
    <div class="title">
      <h2>Search</h2>
    </div>
    <ul class="nav-links">
      <li>link1</li>
      <li>link1</li>
      <li>link1</li>
      <li>link1</li>
      <li>link1</li>
    </ul>
  </div>
</div>

<div class="navbar-menu text-center" id="activities-menu">
  <div class="wrapper">
    <i class="close-button far fa-times-circle"></i>
    <div class="inside-menu">
      <div class="title">
        <h2>Activities</h2>
      </div>
      <ul class="nav-links">
        <li>link1</li>
        <li>link1</li>
        <li>link1</li>
        <li>link1</li>
        <li>link1</li>
      </ul>
    </div>
  </div>
</div>

<div class="navbar-menu text-center" id="chat-menu">
  <div class="wrapper">
    <i class="close-button far fa-times-circle"></i>
    <div class="inside-menu">
      <div class="title">
        <h2>Chat</h2>
      </div>
      <ul class="nav-links">
        <li>link1</li>
        <li>link1</li>
        <li>link1</li>
        <li>link1</li>
        <li>link1</li>
      </ul>
    </div>
  </div>
</div>
