<div class="navbar-left">
  <div class="nav-links">
    <ul>
      <li class="nav-item">
        <div class="nav-link side-button" id="profile-button">
          <i class="fas fa-user-circle"></i>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link side-button" id="social-button">
          <i class="fas fa-users"></i>
        </div>
      </li>

      <li class="nav-item-main" id="close-search-bar">
        <div class="nav-link search" id="search-button">
          <i class="fas fa-search"></i>
        </div>
      </li>
      <li class="nav-item-main d-none" id="open-search-bar">
        <%= form_tag "/pages/search", method: :get, class: "form-inline" do %>
          <div class="form-search">
            <%= text_field_tag :query, nil, placeholder: "Ecrivez votre recherche", autocomplete: "off", class: "search-input text-small" %>
            <%= button_tag type: "submit", class: "nav-link search", id: "submit-button-search-form" do %>
              <i class="fas fa-search" aria-hidden="true"></i>
            <% end %>
          </div>
        <% end %>
      </li>

      <li class="nav-item">
        <div class="nav-link side-button" id="activities-button">
          <i class="fas fa-hiking"></i>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link side-button" id="chat-button">
          <i class="fas fa-envelope"></i>
          <!--
            if is active
            <i class="fas fa-envelope-open-text"></i>
          -->
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="navbar-menu text-center" id="profile-menu">
  <div class="wrapper">
    <i class="close-button far fa-times-circle"></i>
    <div class="inside-menu">
      <div class="title">
        <h2>Mon profil</h2>
      </div>
      <% if user_signed_in? %>
        <ul class="nav-links" >
          <%= link_to "#", :class => "link-green" do %>
            <li>Mon profil</li>
          <% end %>
          <%= link_to "#", :class => "link-green" do %>
            <li>Mes activités</li>
          <% end %>
          <%= link_to edit_user_registration_path, :class => "link-green" do %>
            <li>Modifier mon profil</li>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, :class => "link-green" do %>
            <li>Me déconnecter</li>
          <% end %>
          </ul>
       <% else %>
        <ul class="nav-links">
          <%= link_to new_user_session_path, :class => "link-green" do %>
            <li>Se connecter</li>
          <% end %>
          <%= link_to new_user_registration_path, :class => "link-green" do %>
            <li>S'inscrire</li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="navbar-menu text-center" id="social-menu">
  <div class="wrapper">
    <i class="close-button far fa-times-circle"></i>
    <div class="inside-menu">
      <div class="title">
        <h2>Social</h2>
      </div>
      <ul class="nav-links">
        <li>link1</li>
        <li>link1</li>
        <li>link1</li>
        <li>link1</li>
        <li>link1</li>
      </ul>
    </div>
  </div>
</div>

<div class="navbar-menu text-center" id="activities-menu">
  <div class="wrapper">
    <i class="close-button far fa-times-circle"></i>
    <div class="inside-menu">
      <div class="title">
        <h2>Activities</h2>
      </div>
      <ul class="nav-links">
        <li>link1</li>
        <li>link1</li>
        <li>link1</li>
        <li>link1</li>
        <li>link1</li>
      </ul>
    </div>
  </div>
</div>

<div class="navbar-menu text-center" id="chat-menu">
  <div class="wrapper">
    <i class="close-button far fa-times-circle"></i>
    <div class="inside-menu">
      <div class="title">
        <h2>Chat</h2>
      </div>
      <ul class="nav-links">
        <li>link1</li>
        <li>link1</li>
        <li>link1</li>
        <li>link1</li>
        <li>link1</li>
      </ul>
    </div>
  </div>
</div>
