<div class="navbar-left">
  <div class="nav-links">
    <ul>
      <li class="nav-item">
        <div class="nav-link" id="brand-icon">
          <%= link_to root_path do %>
            <%= cl_image_tag("logo_Elixir_bottle_px5w9i", height: 100, crop: :fill) %>
          <% end %>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link side-button" id="profile-button">
          <i class="fas fa-user-circle"></i>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link side-button" id="social-button">
          <i class="fas fa-users"></i>
        </div>
      </li>

      <li class="nav-item-main" id="close-search-bar">
        <div class="nav-link search" id="search-button">
          <i class="fas fa-search"></i>
        </div>
      </li>
      <li class="nav-item-main d-none" id="open-search-bar">
        <%= form_tag "/pages/search", method: :get, class: "form-inline" do %>
          <div class="form-search">
            <%= text_field_tag :query, nil, placeholder: "Ecrivez votre recherche", autocomplete: "off", class: "search-input text-small" %>
            <%= button_tag type: "submit", class: "nav-link search", id: "submit-button-search-form" do %>
              <i class="fas fa-search" aria-hidden="true"></i>
            <% end %>
          </div>
        <% end %>
      </li>

      <li class="nav-item">
        <div class="nav-link side-button" id="activities-button">
          <i class="fas fa-hiking"></i>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link side-button" id="chat-button">
          <i class="fas fa-envelope"></i>
          <!--
            if is active
            <i class="fas fa-envelope-open-text"></i>
          -->
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="navbar-menu text-center" id="profile-menu">
  <div class="wrapper">
    <i class="close-button far fa-times-circle"></i>
    <div class="inside-menu">
      <div class="title">
        <h2>Mon profil</h2>
      </div>
      <% if user_signed_in? %>
        <ul class="nav-links" >
          <li><%= link_to "Mon profil", "#", class: "button-outline-green w-100" %></li>
          <li><%= link_to "Mes activités", "#", class: "button-outline-green w-100" %></li>
          <li><%= link_to "Modifier mon profil", "#", class: "button-outline-green w-100" %></li>
          <li><%= link_to "Modifier mon profil", edit_user_registration_path, class: "button-outline-green w-100" %></li>
          <li><%= link_to "Me déconnecter", destroy_user_session_path, class: "button-outline-green w-100" %></li>
        </ul>
       <% else %>
        <ul class="nav-links">
          <li><%= link_to "Se connecter", new_user_session_path, class: "button-outline-green w-100" %></li>
          <li><%= link_to "S'inscrire", new_user_registration_path, class: "button-outline-green w-100" %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="navbar-menu text-center" id="social-menu">
  <div class="wrapper">
    <i class="close-button far fa-times-circle"></i>
    <div class="inside-menu">
      <div class="title">
        <h2>Social</h2>
      </div>
      <ul class="nav-links">
        <li><%= link_to "link", "#", class: "button-outline-green w-100" %></li>
        <li><%= link_to "link", "#", class: "button-outline-green w-100" %></li>
        <li><%= link_to "link", "#", class: "button-outline-green w-100" %></li>
        <li><%= link_to "link", "#", class: "button-outline-green w-100" %></li>
        <li><%= link_to "link", "#", class: "button-outline-green w-100" %></li>
      </ul>
    </div>
  </div>
</div>

<div class="navbar-menu text-center" id="activities-menu">
  <div class="wrapper">
    <i class="close-button far fa-times-circle"></i>
    <div class="inside-menu">
      <div class="title">
        <h2>Activités</h2>
      </div>
      <ul class="nav-links">
        <li><%= link_to "Créer une activité", "/activities/new", class: "button-outline-green w-100" %></li>
        <li><%= link_to "Modifier une activité", new_user_registration_path, class: "button-outline-green w-100" %></li>
        <li><%= link_to "Supprimer une activité", new_user_registration_path, class: "button-outline-green w-100" %></li>
        <li><%= link_to "Créer un évènement", new_user_registration_path, class: "button-outline-green w-100" %></li>
        <li><%= link_to "Gérer un évènement", new_user_registration_path, class: "button-outline-green w-100" %></li>
        <li><%= link_to "Annuler un évènement", new_user_registration_path, class: "button-outline-green w-100" %></li>
      </ul>
    </div>
  </div>
</div>

<div class="navbar-menu text-center" id="chat-menu">
  <div class="wrapper">
    <i class="close-button far fa-times-circle"></i>
    <div class="inside-menu">
      <div class="title">
        <h2>Chat</h2>
      </div>
      <ul class="nav-links">
        <li><%= link_to "link", "#", class: "button-outline-green w-100" %></li>
        <li><%= link_to "link", "#", class: "button-outline-green w-100" %></li>
        <li><%= link_to "link", "#", class: "button-outline-green w-100" %></li>
        <li><%= link_to "link", "#", class: "button-outline-green w-100" %></li>
        <li><%= link_to "link", "#", class: "button-outline-green w-100" %></li>
      </ul>
    </div>
  </div>
</div>
