<li class="user-card d-flex justify-content-between py-2 px-0">
  <div class="photo avatar-large mr-2">
    <%= cl_image_tag(user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar-large") %>
  </div>

  <div class="name text-xsmall d-flex justify-content-center flex-column align-items-start ml-1">
    <p class="my-0">@<%= user.nickname %></p>
    <% if user_signed_in? && user == @activity.user %>
      <small class="my-0">organisateur/trice</small>
    <% end %>
  </div>

  <% unless current_user == user %>
    <% if user_signed_in? %>
      <% # Check if user has no relationship with current_user %>
      <% if user.friendships.empty? || user.friendships.include_current_user(current_user).empty? %>
        <%= simple_form_for Friendship.new, url: friendships_path, method: "post", remote: true do |f| %>
          <%= f.hidden_field :friend, value: user.id %>
          <%= button_tag(type: "submit", class: "ml-1 mb-0 d-flex justify-content-center align-items-center button-outline-green") do %>
            <i class="fas fa-user-plus text-small"></i>
          <% end %>
        <% end %>

      <% else %>

        <% # Check if current_user is the requestor of the frienship %>
        <% friendship = user.friendships.include_current_user(current_user).first %>

        <% if friendship.pending? %>
          <% if current_user == friendship.user %>
            <%= link_to friendship_path(friendship), method: "delete", remote: true, class: "ml-1 mb-0 d-flex justify-content-center align-items-center button-outline-green icon-user" do %>
              <i class="fas fa-user-clock text-small"></i>
              <i class="fas fa-user-times text-small"></i>
            <% end %>

          <% else %>
            <%= link_to friendship_reject_path(friendship), method: "post", class: "ml-1 mb-0 d-flex justify-content-center align-items-center button-outline-green", remote: true do %>
              <i class="fas fa-user-times text-small"></i>
            <% end %>
            <%= link_to friendship_accept_path(friendship), method: "post", class: "ml-1 mb-0 d-flex justify-content-center align-items-center button-outline-green", remote: true do %>
              <i class="fas fa-user-check text-small"></i>
            <% end %>
          <% end %>

        <% elsif friendship.rejected? %>
            <div class="btn btn-outline-primary btn-lg disabled">
              <%= friendship.status_fr %>
            </div>

        <% elsif friendship.accepted? %>
            <%= link_to "#", remote: true, class: "ml-1 mb-0 d-flex justify-content-center align-items-center button-outline-green" do %>
              <i class="far fa-comments text-small"></i>
            <% end %>
            <%= link_to "#", remote: true, class: "ml-1 mb-0 d-flex justify-content-center align-items-center button-outline-green" do %>
              <i class="fas fa-user-check text-small"></i>
            <% end %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "ml-1 mb-0 d-flex justify-content-center align-items-center button-outline-green" do %>
        <i class="fas fa-user-plus text-small"></i>
      <% end %>
    <% end %>
  <% end %>
</li>
