<div class="my-3 pb-4 border-top border-bottom">
  <%= simple_form_for(@event) do |f| %>
    <div class="form-inputs">
      <%= f.association :activity, value: activity, label: false, input_html: { hidden: true } %>
      <%= f.input :start_time,
                  label: "Début de l'événement",
                  autofocus: true %>
      <%= f.input :end_time, 
                  label: "Fin de l'événement" %>
    </div>

    <div class="container">
      <div class="row">
          <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
            </div>
          </div>
          <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
          </script>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Ajouter événement", class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
</div>