<div class="content content-sign">
  <div class="container container-sign">
    <div class="row row-sign">
      <div class="col-md-6 order-md-2 col-sign d-flex align-items-center">
        <%= image_tag 'undraw_hang_out_h9ud.svg', class: 'img-fluid' %>
      </div>
      <div class="col-md-6 contents col-sign">
        <div class="row justify-content-center">
          <div class="col-md-8 white-box">
            <div class="mb-4">
              <h2>Créer une activité</h2>

              <%= simple_form_for(@activity) do |f| %>
                <div class="form-inputs">
                  <%= f.input :name,
                              label: "Nom de l'activité",
                              autofocus: true %>
                  <%= f.input :photo, 
                              as: :file,
                              label: "Photo de l'activité" %>
                  <%= f.input :description,
                              label: "Description de l'activité",
                              input_html: {:rows => 10} %>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, "Créer cette activité", class: "btn btn-primary btn-block" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
