<div class="container activity">
  <div class="activity-name text-center p-4">
    <h1><%= @activity.name %></h1>
  </div>
  <div class="activity-labels d-flex justify-content-center">
    <div class="activity-label mx-2">
      <label title="Amusant">
        <%= cl_image_tag("funny.svg", class: "label-easy") %>
      </label>
    </div>
    <div class="activity-label mx-2">
      <label title="Recommandé">
        <%= cl_image_tag("forall_xnas3p.svg", class: "label-easy") %>
      </label>
    </div>
    <div class="activity-label mx-2">
      <label title="En intérieur">
        <%= cl_image_tag("indoor_jb5nw7.svg", class: "label-easy") %>
      </label>
    </div>
    <div class="activity-label mx-2">
      <label title="Bien-être">
        <%= cl_image_tag("bienetre_gfzf5h.svg", class: "label-medium") %>
      </label>
    </div>
    <div class="activity-label mx-2">
      <label title="Formation">
        <%= cl_image_tag("formation_indylg.svg", class: "label-medium") %>
      </label>
    </div>
    <div class="activity-label mx-2">
      <label title="Activité physique">
        <%= cl_image_tag("healthy_1_fezu7m.svg", class: "label-hard") %>
      </label>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="white-box col-md-4 mx-4">
      <div class="activity-image mt-2">
        <%= cl_image_tag(@activity.photo.key, width: 400, height: 300, crop: :fill, class: "img-fluid") %>
      </div>
      <div class="activity-desc pt-2">
        <p class="text-small"><%= @activity.description %></p>
      </div>
      <div class="activity-user text-center">
        <%= cl_image_tag(@activity.user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar-large") %>
        <h2><%= @activity.user.nickname %></h2>
        <% if (current_user == @activity.user) %>
        <%# Add supprimer %>
          <%= link_to "Modifier", edit_activity_path(@activity), class: "button-outline-green" %>
          <%= link_to "Supprimer", activity_path(@activity, method: "delete"), class: "button-outline-green" %>
        <% else %>
          <%= link_to "Voir profil", "/", class: "button-outline-green" %>
          <%= link_to "Voir activités", "/", class: "button-outline-green" %>
        <% end %>
      </div>
    </div>

    <div class="white-box col-md-4">
      <h2>Prochaines dates</h2>
        <% if current_user == @activity.user %>
          <%= render partial: "events/form", locals: { activity: @activity } %>
        <% end %>
      <ul>
        <% @activity.events.future_events.each do |event| %>
          <%= render partial: "shared/event_card", locals: { event: event, booking: @booking } %>
        <% end %>
      </ul>
    </div>
    <div class="white-box col-md-12">
      <h2>Conversations à propos de cette activité</h2>
      <ul>

      </ul>
    </div>
  </div>



