<div class="m-4">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <% # Green box Activity description %>
        <div class="box-color mt-4">
          <div class="d-flex justify-content-center position-relative">
            <%= cl_image_tag(@activity.photo.key, transformation: [{ quality: :auto, fetch_format: :auto, width: :auto, crop: :fill }], class: "image-fluid w-100", style: "margin-top: 60px;") %>
            <div class="d-flex justify-content-between position-absolute w-100 px-4" style="bottom:0;z-index:1">
              <% if (current_user == @activity.user) %>
                    <%= link_to "Modifier", edit_activity_path(@activity), class: "button-full-green mb-4" %>
                    <%= link_to "Supprimer", activity_path(@activity, method: "delete"), class: "button-full-purple mb-4" %>
              <% else %>
                <%= render partial: "shared/user_friendship_action", locals: { user: @activity.user } %>
                <%= link_to "Voir activités", activities_path(user: @activity.user), class: "btn button-full-green my-0 mx-1 mb-4" %>
              <% end %>
            </div>
          </div>


          <% # Organisator profile %>
          <div class="border-bottom position-relative" style="top:-80px;">
            <div class="position-relative d-flex justify-content-center align-items-center w-100">
              <%= cl_image_tag(@activity.user.photo.key, transformation: [{ quality: :auto, fetch_format: :auto, width: 150, height: 150, crop: :thumb, gravity: :face }], class: "avatar-xlg-bordered-white-surround") %>
            </div>
            <h3 class="text-white text-center py-4 mb-0">Organisé par @<%= @activity.user.nickname %></h3>
          </div>

          <div class="pb-4 px-4">
            <div class="px-4">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <div class="text-left">
                  <h1 class="text-white mb-0"><%= @activity.name %></h1>
                  <span class="text-white text-xsmall"><%= @activity.street %> à <%= @activity.city %></span>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="h-100 d-flex justify-content-end align-items-start"> 
                  <% if user_signed_in? %>
                    <% if @activity.is_member_of_activity_group?(current_user) %>
                      <%= link_to "Rejoindre groupe de discussion", group_path(@activity.group), class: "btn btn-lg button-full-purple m-0" %>
                    <% else %>
                      <%= link_to "Rejoindre groupe de discussion", group_memberships_path(@activity.group), method: :post, class: "btn btn-lg button-full-purple m-0" %>
                    <% end %>
                  <% else %>
                    <%= link_to "Rejoindre groupe de discussion", new_user_session_path, class: "btn btn-lg button-full-purple m-0" %>
                  <% end %>
                </div>
              </div>
            </div>

              <div class="my-4 d-flex flex-wrap align-items-center">
                <% @activity.categories.each do |category| %>
                  <%= link_to activities_path(category_id: category.id) do %>
                    <button class="button-outline-green mb-0"><%= category.name %></button>
                  <% end %>
                <% end %>
              </div>
              <p class="text-white text-justify pb-4 mb-0"><%= @activity.description %></p>
              <div class="pb-4 border-bottom"></div>
            </div>

            <div class="px-4 pt-4">
              <div class="text-left pt-4">
                <h2 class="text-white mb-0">Labels</h2>
              </div>
              <div class="row mb-4">
                  <% @activity.labels.each do |label| %>
                    <div class="col-xl-6 col-lg-12 col-md-6 col-sm-12 mt-4 mb-0 p-0">
                        <div class="d-flex justify-content-start align-items-center my-1">
                          <i class="<%= label.icon %> text-center w-25 text-white" style="color: #00897B; font-size: 32px;"></i>
                          <p class="text-white" style="margin: 0;"><%= label.name %></p>
                        </div>
                    </div>  
                  <% end %>  
              </div>
            </div>
          </div>
        </div>

      </div>

      <% # Photo and Events %>
      <div class="col-lg-5 col-md-12">
        <div class="white-box flex-md-fill" style="margin: 0 auto;">
          <h2 class="text-center">Prochaines dates</h2>
          <% if current_user == @activity.user %>
            <%= render partial: "events/form", locals: { activity: @activity } %>
          <% end %>
          <ul>
            <% @activity.events.future_events.each do |event| %>
              <%= render partial: "shared/event_card", locals: { event: event, booking: @booking } %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
</div>