<!DOCTYPE html>
<html>
  <head>
    <title>Elixir</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <link rel="icon" type="image/png" href="https://res.cloudinary.com/clemdub1324/image/upload/v1617285597/illustrations/logo-meta_2_a6r9zd.png" />

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>

    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="wrapper-body">
      <%= render "shared/flashes" %>
      <%= yield %>
    </div>
  </body>
</html>
